<div class="container">
  <h1>Try our delicious cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-6 card" style="width: 18rem">
        <%= cl_image_tag("yzrurnsglbsukatqtj5g", width: 400, height: 300, crop: :fill) %>
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <% cocktail.doses.each do |dose| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %></li>
              </ul>
            <% end %>
            <br>
            <div class="btn btn-primary">
              <%= link_to "View Cocktail", cocktail_path(cocktail), :class => "btn btn-primary" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="btn btn-primary">
    <%= link_to "Create a new cocktail", new_cocktail_path, :class => "btn btn-primary" %>
  </div>
</div>
