
  <div class="container" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')">
    <div class="card-img-overlay">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <p class="card-text">
        <p>
        Ingredients:
        <% @cocktail.ingredients.each do |ingredient| %>
          <%= ingredient.name %>
        <% end %>
        </p>
        <p>
        Doses:
        <% @cocktail.doses.each do |dose| %>
          <%= dose.description %>
        <% end %>
        </p>
      </p>
      <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), :class => "btn btn-primary" %>
      <%= link_to "Home", cocktails_path, :class => "btn btn-primary" %>
    </div>
  </div>

